*.DotSettings
*.cache
*.user
*.v2

src/.vs/

src/CRUD/Extensions/bin/
src/CRUD/Extensions/obj/

src/CRUD/DAL/Abstractions/bin/
src/CRUD/DAL/Abstractions/obj/

src/CRUD/DAL/EntityFramework/bin/
src/CRUD/DAL/EntityFramework/obj/

src/CRUD/DAL/NHibernate/bin/
src/CRUD/DAL/NHibernate/obj/

src/CRUD/CQRS/bin/
src/CRUD/CQRS/obj/

src/CRUD/Core/bin/
src/CRUD/Core/obj/

src/CRUD/Logging/Common/bin/
src/CRUD/Logging/Common/obj/

src/CRUD/Logging/EntityFramework/bin/
src/CRUD/Logging/EntityFramework/obj/

src/CRUD/Logging/NHibernate/bin/
src/CRUD/Logging/NHibernate/obj/

src/CRUD/WebAPI/bin/
src/CRUD/WebAPI/obj/

src/Examples/WebAPI/bin/
src/Examples/WebAPI/obj/

src/Tests/Extensions/bin/
src/Tests/Extensions/obj/

src/Tests/EntityFramework/EfDAL/bin/
src/Tests/EntityFramework/EfDAL/obj/

src/Tests/EntityFramework/EfCQRS/bin/
src/Tests/EntityFramework/EfCQRS/obj/

src/Tests/EntityFramework/EfCore/bin/
src/Tests/EntityFramework/EfCore/obj/

src/Tests/EntityFramework/EfCore/bin/
src/Tests/EntityFramework/EfCore/obj/

src/Tests/EntityFramework/EfLogging/bin/
src/Tests/EntityFramework/EfLogging/obj/

src/Tests/EntityFramework/EfShared/bin/
src/Tests/EntityFramework/EfShared/obj/

src/Tests/NHibernate/NhDAL/bin/
src/Tests/NHibernate/NhDAL/obj/

src/Tests/NHibernate/NhCQRS/bin/
src/Tests/NHibernate/NhCQRS/obj/

src/Tests/NHibernate/NhCore/bin/
src/Tests/NHibernate/NhCore/obj/

src/Tests/NHibernate/NhCore/bin/
src/Tests/NHibernate/NhCore/obj/

src/Tests/NHibernate/NhLogging/bin/
src/Tests/NHibernate/NhLogging/obj/

src/Tests/NHibernate/NhShared/bin/
src/Tests/NHibernate/NhShared/obj/

src/Templates/WebAPI_EntityFramework/.vs/
src/Templates/WebAPI_EntityFramework/API/bin/
src/Templates/WebAPI_EntityFramework/API/obj/
src/Templates/WebAPI_EntityFramework/Domain/bin/
src/Templates/WebAPI_EntityFramework/Domain/obj/