*.DotSettings
*.cache
*.user
*.v2

src/.vs/
src/DAL/bin/
src/DAL/obj/
src/CQRS/bin/
src/CQRS/obj/
src/Extensions/bin/
src/Extensions/obj/
src/Core/bin/
src/Core/obj/
src/Example/bin/
src/Example/obj/
src/MVC/bin/
src/MVC/obj/
src/Extensions/bin/
src/Extensions/obj/
src/Tests/bin/
src/Tests/obj/
