*.DotSettings
*.cache
*.user
*.v2

src/.vs/
src/DAL/bin/
src/DAL/obj/
src/CQRS/bin/
src/CQRS/obj/
src/Extensions/bin/
src/Extensions/obj/
src/Core/bin/
src/Core/obj/
src/Examples/WebAPI/bin/
src/Examples/WebAPI/obj/
src/WebAPI/bin/
src/WebAPI/obj/
src/Extensions/bin/
src/Extensions/obj/
src/Tests/EfDAL/bin/
src/Tests/EfDAL/obj/
src/Tests/Extensions/bin/
src/Tests/Extensions/obj/
src/Tests/Models/bin/
src/Tests/Models/obj/
src/Tests/EfCQRS/bin/
src/Tests/EfCQRS/obj/
src/Tests/EfCore/bin/
src/Tests/EfCore/obj/

