@inherits UI.ComponentBase

<select @bind="currentLanguage">
    @foreach (var language in LocalizationConst.SupportedLanguages)
    {
        <option value="@language">
            @language
        </option>
    }
</select>